html,body {
    background-color:darkseagreen;
    min-height:100%;
    margin:0;
    padding:0;
}

header {
    background-color:floralwhite;
    text-align:center;
    margin:auto;
    display:block;
}

.main-contain{
    background-color:snow;
    min-height:100%;
    width: 1024px;
    margin:auto;
    display:flex;
}

.navi{
    background-color:floralwhite;
    min-height:100%;
    flex:0 0 150px;
}

.navi a {
    color:darkseagreen;
    text-decoration:none;
    text-align:center;
    display:block;
    padding:15px;
    font-family:sans-serif;
}

.navi a:hover{
    color:burlywood;
}

.content-contain{
    
}

.about{
    
}

.prod-contain{
    
}

.foot{
    
}