html,body {
    background-color:darkseagreen;
    min-height:100%;
    margin:0;
    padding:0;
}

header {
    background-color:floralwhite;
    text-align:center;
    margin:auto;
    display:block;
}

.main-contain{
    background-color:snow;
    min-height:100%;
    width: 1024px;
    margin:auto;
    display:flex;
}

.navi{
    background-color:floralwhite;
    min-height:100%;
    flex:0 0 150px;
}

.navi a {
    color:darkseagreen;
    text-decoration:none;
    text-align:center;
    display:block;
    padding:15px;
    font-family:sans-serif;
}

.navi a:hover{
    color:burlywood;
}

.content-contain{
    width:100%;
    margin:20px;
    padding:10px;
    display:flex;
    flex: 1 1 auto;
    flex-wrap:wrap;
    
}

.content-contain .card{
    height: 195px;
    flex: 0 0 195px;
    background-color: blue;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    
}

.about{
    
}


.item-description{
    width:inherit;
    height:20px;
    text-align: center;
}

.item-img{
    height: calc(100%-40px);
    width: 75%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1199px){
    
}



footer{
    background-color: white;
    width: 1004px;
    margin:auto;
    padding:10px;
    min-height: 10%;
    flex-direction: column;
    display:flex;
    
}