html,body {
    background-color:darkseagreen;
    min-height:100%;
    margin:0;
    padding:0;
}

header {
    background-color:floralwhite;
    text-align:center;
    margin:auto;
    display:block;
}

.main-contain{
    background-color:snow;
    min-height:100%;
    width: 1024px;
    margin:auto;
    display:flex;
}

.navi{
    background-color:floralwhite;
    min-height:100%;
    flex:0 0 150px;
}

.navi a {
    color:darkseagreen;
    text-decoration:none;
    text-align:center;
    display:block;
    padding:15px;
    font-family:sans-serif;
}

.navi a:hover{
    color:burlywood;
}

.content-contain{
    width:100%;
    margin:20px;
    padding:10px;
    display:flex;
    flex: 1 1 auto;
    flex-wrap:wrap;
    
}

.content-contain .card{
    height: 195px;
    flex: 0 0 195px;
    background-color: blue;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    
}

.about{
    
}


.item-description{
    width:inherit;
    height:20px;
    text-align: center;
}

.item-img{
    height: calc(100%-40px);
    width: 75%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1199px){
    .main-contain{
        flex-direction:column;
        width:900px
    }
    
    .navi{
        min-height: auto;
        flex: 0 0 35px;
    }
    .navi a {
        display: inline-block;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .main-contain{
        width: 720px;
    }
    .content-contain .card {
        flex-basis: 330px;
        height: 330px;
    }
}

@media only screen and (max-width: 749px) {
    .main-contain {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    .content-contain {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 100%;
    }
    .content-contain .card{
        height: 300px;
        flex-basis: 100%;
    }
    .item-img{
        height: calc(100%-40px);
        width: 45%;
    }
}

footer{
    padding:10px;
    min-height: 10%;
    display:flex;
}

.footerBlock{
    width: 33%;
}